@import "tailwindcss";

body {
	font-family: var(--font-poppins), sans-serif;
}

@keyframes winner-zoom {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.animate-winner-zoom {
	animation: winner-zoom 0.6s ease-out forwards;
}
